<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Socket.IO chat</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />

    <style>
        td>i {
            cursor: pointer;
        }
    </style>
</head>

<body>
    <a class="waves-effect waves-light btn-small" href="block?all=true"><i class="material-icons left">cloud</i>Block
        All</a>
    <a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>Unblock All</a>
    <a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>Choose All</a>
    <a class="waves-effect waves-light btn-small"><i class="material-icons left">cloud</i>Unchoose All</a>
    <table class="striped">
        <tr>
            <th>PC</th>
            <th>Online</th>
            <th>Block</th>
            <th>Choosen</th>
            <th>Window</th>
        </tr>

        <% data.forEach((item)=> { %>
            <tr id="<%= item._id %>">
                <td class="<%= item.name %> name">
                    <%= item.name %>
                </td>
                <td class="<%= item.name %> online">
                    <i class="material-icons dp48 <%= item.online ? 'teal-text' : 'red-text' %> darken-1" st>
                        <%= item.online ? 'phonelink' : 'phonelink_off' %>
                    </i>
                </td>
                <td class="<%= item.name %> block">
                    <a href="block?name=<%= item.name %>&value=<%= item.block %>">
                        <i class="material-icons dp48 <%= item.block ? 'red-text' : 'teal-text' %> darken-1" st>
                            <%= item.block ? 'visibility_off' : 'visibility' %>
                        </i>
                    </a>
                </td>
                <td class="<%= item.name %> choosen">
                    <a href=" choosen?name=<%=item.name %>&value=<%= item.choosen %>">
                        <i class="material-icons dp48 <%= item.choosen ? 'teal-text' : 'red-text' %> darken-1" st>
                            <%= item.choosen ? 'sentiment_very_satisfied' : 'sentiment_very_dissatisfied' %>
                        </i>
                    </a>
                </td>
                <td class="<%= item.name %> window">
                    <%= item.window %>
                </td>
            </tr>
            <% }) %>
    </table>
    <!-- <script src="/socket.io/socket.io.js"></script> -->
    <script src="https://cdn.socket.io/4.8.1/socket.io.min.js"></script>
    <script>
        const socket = io();

        const icons = (name, data, value) => {
            const iconElement = document.querySelector(`.${name}.${data} i`)
            let icon

            switch (data) {
                case "online":
                    icon = value ? 'phonelink' : 'phonelink_off'
                    iconColor(value, iconElement)
                    break
                case "block":
                    icon = value ? 'visibility_off' : 'visibility'
                    iconColor(!value, iconElement)
                    break
                case "choosen":
                    icon = value ? 'sentiment_very_satisfied' : 'sentiment_very_dissatisfied'
                    iconColor(value, iconElement)
                    break
            }

            iconElement.innerHTML = icon
        }

        const iconColor = (value, element) => {
            if (value) {
                element.classList.add('teal-text')
                element.classList.remove('red-text')
            } else {
                element.classList.add('red-text')
                element.classList.remove('teal-text')
            }
        }

        const form = document.getElementById('send')
        const input = document.getElementById('input')
        const messages = document.getElementById('messages')
        form.addEventListener('click', (e) => {
            // socket.emit('chat message', 'halo')
            console.log('tes');
        })

        socket.on('dataUpdate', (data) => {
            for (let index in data.change) {
                if (index == "window") {
                    document.querySelector(`.${data.name}.${index}`).innerHTML = data.change[index]
                } else {
                    icons(data.name, index, data.change[index])
                }
            }
        })
        socket.on('newDocument', (data) => {
            console.log(data);
            const newRow = `<tr id="${data._id}">
                <td class="${data.name} name">
                    ${data.name}
                </td>
                <td class="${data.name} online">
                    <i class="material-icons dp48 ${data.online ? 'teal-text' : 'red-text'} darken-1" st>
                        ${data.online ? 'phonelink' : 'phonelink_off'}
                    </i>
                </td>
                <td class="${data.name} block">
                    <a href="block?name=${data.name}&value=${data.block}">
                        <i class="material-icons dp48 ${data.block ? 'red-text' : 'teal-text'} darken-1" st>
                            ${data.block ? 'visibility_off' : 'visibility'}
                        </i>
                    </a>
                </td>
                <td class="${data.name} choosen">
                    <a href=" choosen?name=${data.name}&value=${data.choosen}">
                        <i class="material-icons dp48 ${data.choosen ? 'teal-text' : 'red-text'} darken-1" st>
                            ${data.choosen ? 'sentiment_very_satisfied' : 'sentiment_very_dissatisfied'}
                        </i>
                    </a>
                </td>
                <td class="${data.name} window">
                    ${data.window}
                </td>
            </tr>`
            document.querySelector('table').insertAdjacentHTML('beforeend', newRow)
        })
        socket.on('deleteDocument', (id) => {
            document.getElementById(id).remove()
        })
    </script>
    <!--JavaScript at end of body for optimized loading-->
    <script type="text/javascript" src="/js/materialize.min.js"></script>
</body>

</html>